<%- include("partial/header.ejs") %>
    <%- include("partial/header-top.ejs") %>
        <div class="about">
            <div class="about-text">
                <h3>About Us</h3>
            </div>
            <div class="about-info">
                <h4>Isn't it interesting to learn via Blog</h4>
                <p>“If you want to learn how to start a blog,grow and write, you have come to the correct platform. Here we allow you to spread knowledge and gather knowledge through our blogs. ” </p>
            </div>
        </div>
        <%- include("partial/footer.ejs") %>